<div>
  <nz-list [nzDataSource]="tasks" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
    <ng-template #item let-item>
      <nz-list-item [nzActions]="[editAction,deleteAction]">
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #editAction><a (click)="edit(item)">edit</a></ng-template>
          <ng-template #deleteAction><a (click)="delete(item)">delete</a></ng-template>
          <nz-list-item-meta [nzTitle]="nzTitle" nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
            <ng-template #nzTitle>
              <a href="https://ng.ant.design">{{item.name}}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
  </nz-list>

  <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
    <input type="text" nz-input placeholder="input search text" [(ngModel)]="value">
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch (click)="createTask()">Add task</button>
  </ng-template>
</div>